* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

.container-fluid {
  min-height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
}

#section1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e1c25;
  color: palevioletred;
}

.homeText {
  color: #fff;
  font-size: 30px;
  font-family: "Exo", sans-serif;
  letter-spacing: 2px;
}

.homeText button .btn {
  border-radius: 0px;
}

#name {
  color: #f10f5b;
  font-size: 50px;
  font-family: "Cinzel Decorative", cursive;
}

a {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f10f5b;
}

#section2, #section4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-family: "Exo", sans-serif;
  font-size: 18px;
}

.sectionHead {
  color: #000;
  font-size: 40px;
  font-family: "Exo", sans-serif;
  font-weight: bolder;
}

#section2 .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 .myself {
  color: #000;
  font-size: 18px;
  font-weight: bolder;
  font-family: "Exo", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#metafor {
  color: #f10f5b;
}

#section2 .photo img {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#section3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Exo", sans-serif;
  font-weight: bold;
}

/*.iconBg{
    color:rgb(241, 15, 91);
    border:1px solid rgb(241, 15, 91);
    
}*/
.iconBg {
  width: 100px;
  height: 57.735px;
  background: #00d9ff;
  position: relative;
  color: #fff;
}

.iconBg::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid #00d9ff;
}

.iconBg::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid #00d9ff;
}

.progress .progress-bar {
  -webkit-animation-name: animateBar;
          animation-name: animateBar;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  background: #f10f5b;
}

@-webkit-keyframes animateBar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes animateBar {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#section3 .progress span {
  font-family: "Exo", sans-serif;
}

.hexa, .hexa div {
  margin: 0 auto;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.hexa {
  width: 320px;
  height: 270px;
}

.hexa div {
  width: 100%;
  height: 100%;
}

.hexa {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.hex1 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.hex2 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.progress-value {
  text-align: center;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */